<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>Durastream Web Player Test Page</title>
  <code>
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.2.min.js"></script>
  <script src="https://releases.flowplayer.org/js/flowplayer-3.2.13.min.js"></script>
</head>
<body>
  <h1>Durastream Web Player Test Page</h1>

  <h3>Choose the space and authorization level to stream:</h3>
  <p>These demo buttons begin the process of streaming. On a normal content page the
  same behavior will be triggered when the page is ready. Test streams are in three different
  DuraCloud spaces with streaming enabled. In addition there is a info.json file
  with authorization requirements in each space. Steps taken and current cookie status
  is shown below.</p>
  <button onclick="stream('sfc20009-open','test')">sfc20009-open/test</button><br />
  Broken due to mp3 extension: <button onclick="stream('sfc20009-closed','20009_FS12780_0001.mp3')">sfc20009-closed/20009_FS12780_0001.mp3</button><br />
  Works! No Extension on contentId: <button onclick="stream('sfc20009-closed','test')">sfc20009-closed/test</button><br />
  <button onclick="stream('sfc20009-campus','test')">sfc20009-campus/test</button><br />

  <div class="example">
    <h3>Streaming Player</h3>
    <div id="player" style="display:block;width:508px;height:200px;"></div>
    <h3>Steps</h3>
    <div id="steps">
    </div>
    <h3>Cookies (updated every second)</h3>
    <div id="cookies"></div>
    <h3>Your IP</h3>
    <div id="ip">{{ ip }}</div>
  </div>

<script type="text/javascript" src="static/js.cookie.js"></script>
<script type="text/javascript">
var DURASTREAM_URL='https://services.lib.unc.edu/durastream'; // base URL for durastream service
$(document).ready(function() {
	 refreshCookies();
 }
);

function refreshCookies() {
  var cookies = get_cookies_array();
  var code = "";
  for(var name in cookies) {
    code = code+name+" - "+cookies[name]+"<br />";
  }
  $("#cookies").html(code);
  setTimeout(refreshCookies, 1000);
}

function launchPlayer(streamUrl, spaceId, contentId) {
  message("streaming URL from DuraCloud: "+streamUrl);

  // warn if streamUrl contains Policy and contentId has extension
  if((streamUrl.indexOf("Policy=") > -1) && (contentId.indexOf('.mp3') > -1)) {
      message("WARNING: Cannot play secure MP3 streams that have a file extension");
      return;
    }

  var idx1 = streamUrl.indexOf('/st/');
  var idx2 = streamUrl.indexOf('?');
  // most player require mp3: prefix before the stream name
  //playerUrl = streamUrl.replace('/(.*)\/st(.*)(\?.*)/', '$1mp3: HAHA  $2$3');
  message("got idx: "+idx1+" "+idx2);
  serverUrl = streamUrl.substring(0, idx1)+"/st";
  if(idx2 > -1) {
    contentUrl = "mp3:"+streamUrl.substring(idx1+4, idx2);
    contentUrl = contentUrl+streamUrl.substring(idx2, streamUrl.length);
  } else {
    contentUrl = "mp3:"+streamUrl.substring(idx1+4, streamUrl.length);
  }
  message("Launching player with server URL: "+serverUrl+" contentUrl: "+contentUrl);

  var player = $f("player", "static/flowplayer/flowplayer-3.2.18.swf", {
      plugins: {
          rtmp: {
              url: "static/flowplayer/flowplayer.rtmp-3.2.13.swf",
              // the token probably goes in this URL
              netConnectionUrl: serverUrl,
              // make the rtmp plugin query the stream length from the server
              durationFunc: 'getStreamLength'
          }
      },
      clip: {
        provider: "rtmp",
        url: contentUrl,
        scaling: "fit"
      }
  });
}

function stream(spaceId, contentId) {
  message("Obtain my real IP from durastream service...");
  $.get(DURASTREAM_URL+"/getIP", function(data) {
      var myIP = data.IP;
      message("IP is "+myIP);
      stream2(spaceId, myIP, contentId);
    });
  }

function stream2(spaceId, myIP, contentId) {
  // try the cookie (set locally or after authenticating to service)
  message("Checking for an existing cookie with streaming URL...");
  var streamUrl = Cookies.get("durastream|"+spaceId+"|"+contentId+"|"+myIP);
  if(streamUrl === undefined) {
    message("No Cookie yet, trying to obtain URL w/AJAX...")
    var req = {};
    req["contentId"] = contentId;
    req["spaceId"] = spaceId;
    // try without authenticating
    $.post(DURASTREAM_URL+"/getStreamUrl", req, function(data){
      if('streamUrl' in data) {
        message("URL provided via AJAX.")
        streamUrl = data.streamUrl;
        // Note that AJAX response will set the cookie in this case.
        // If cookies are turned off, AJAX called on each page view.
        launchPlayer(streamUrl, spaceId, contentId);
      } else {
        message("AJAX refused to provide URL, login is required.")
        // Put message on page, give user a link to streaming login.
        $("#player").after(
          "<p>"+data.message+"<br /><a href='"
          +DURASTREAM_URL+"/getStreamUrlSecure?"
          +"contentId="+encodeURIComponent(contentId)
          +"&spaceId="+encodeURIComponent(spaceId)
          +"&backURL="+encodeURIComponent(window.location.href)
          +"'>Click to Log In</a></p>");
      }
    }, "json");
  } else {
    message("Obtained URL from cookie.")
    launchPlayer(streamUrl, spaceId, contentId);
  }
}

function get_cookies_array() {
  var cookies = { };
  if (document.cookie && document.cookie != '') {
    var split = document.cookie.split(';');
    for (var i = 0; i < split.length; i++) {
      var name_value = split[i].split("=");
      name_value[0] = name_value[0].replace(/^ /, '');
      cookies[decodeURIComponent(name_value[0])] = decodeURIComponent(name_value[1]);
    }
  }
  return cookies;
}

function message(line) {
  $("#steps").append(line+"<br />");
}
</script>
</body>
</html>
