<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Durastream Web Player Test Page</title>
  <script src="http://code.jquery.com/jquery-1.7.2.min.js" />
  <script src="js.cookie.js" />
</head>
<body>
  <h2>Durastream Web Player Test Page</h2>
  <div>
    <select>
      <option onSelect="stream('wildlife.mp4', 'streaming-test-1')">Stream from Public Space</option>
      <option onSelect="stream('wildlife.mp4', 'streaming-test-2')">Stream from IP Range or Authenticated Space</option>
      <option onSelect="stream('wildlife.mp4', 'streaming-test-3')">Stream from Authenticated Only Space</option>
    </select>
  </div>

  <div id="mediaspace">
    <!--embed width="470" height="30"
    flashvars="skin=stylish.swf&file=FT10278_2_PM.mp3&start=00:00&streamer=rtmp://s3ia4zdfpa016d.cloudfront.net/cfx/st"
    wmode="opaque" allowscriptaccess="always" allowfullscreen="true" quality="high"
    bgcolor="#ffffff" name="ply" id="ply" style="undefined"
    src="player.swf"
    type="application/x-shockwave-flash" /-->
  </div>

<script type="text/javascript">
var DURASTREAM_URL='http://localhost:5000'; // base URL for durastream service
var DURASTREAM_DIV_SELECTOR="#mediaspace"; // where to append the player or user messages
</script>

<script type="text/javascript">
function launchPlayer(elementSelector, streamUrl, contentId) {
  var flashvars="skin=stylish.swf&file="+contentId+"&start=00:00&streamer="+streamUrl;
  $(elementSelector).append('embed')
    .attr('width', '470').attr('height', '30')
    .attr('flashvars', flashvars)
    .attr('bgcolor', "#ffffff")
    .attr('name', "ply")
    .attr('id' ,"ply")
    .attr('style', "undefined")
    .attr('src', "player.swf")
    .attr('type', "application/x-shockwave-flash");
}

function stream(contentId, spaceId) {
  // try the cookie (set locally or after authenticating to service)
  var streamUrl = Cookies.get("durastream|"+spaceId+"|"+contentId);
  if(streamUrl === undefined) {
    // try without authenticating
    $.getJSON(DURASTREAM_URL+"/getStreamUrl",function(data){
      if('streamUrl' in data) {
        streamUrl = data.streamUrl;
        // Note that AJAX response will set the cookie in this case.
        // If cookies are turned off, AJAX called on each page view.
        launchPlayer(DIV_SELECTOR, streamUrl, contentId);
      } else {
        // Put message on page, give user a link to streaming login.
        $(DIV_SELECTOR).after("<p>"+data.message+"<br /><a href='"+DURASTREAM_URL+"/getStreamUrlSecure'>Click to Log In</a></p>");
      }
    });
  } else {
    launchPlayer(DIV_SELECTOR, streamUrl, contentId);
  }
}
</script>
</body>
